*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(243, 243, 247);
  border:none;
}

header img{

    width: 320px;
    height: 150px;
    background-position:left;
    
  }

div imagem {
    justify-content: center;
    top: 50px 
  }

body{

    overflow-y: scroll; 
    justify-content: center;
    align-items: center;
    padding-top: 0;
    background-color: #2a0759;
    background-position-y:-100px;
    height: 100%;
    width: 100%;
    margin: 0;
}

nav {
    justify-content: center;
    background-color: #7524e2;
    height: 40px;
    padding:10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
nav a:hover {

    color: #2AF519;
}

texto {
    position: relative;
    top: 10px;
    left: 20px;
}



main{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px    
}

footer {
    background-color: #7524e2;
    padding: 30px;
    text-align: right;
    height: 80px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
input {
    color: black;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #7524e2;
    border-radius: 5px;
    position: relative;
    top: 5px;  
    margin: 10px 20px;
}
button {
    background-color: #7524e2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 5px; 
    margin: 20px 20px;
  }
  
  button:hover {
    background-color: #2AF519;

  }